@font-face {
								font-family: 'Nanotronica';
								font-display: swap;
								src: url("../fonts/Nanotronica-Bold.woff2") format("woff2"), url("../fonts/Nanotronica-Bold.woff") format("woff");
								font-weight: 700;
								font-style: normal;
							}
@font-face {
								font-family: 'Nanotronica';
								font-display: swap;
								src: url("../fonts/Nanotronica-Regular.woff2") format("woff2"), url("../fonts/Nanotronica-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
