.form {
	display: flex;
	flex-direction: column;

	// .form__field
	&__field {
		position: relative;
		display: block;

		&+.form__field {
			margin-top: 1rem;
		}
	}

	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease, color 0.3s ease;
		width: 100%;
		font-family: $font-onest;
		font-size: 1rem;
		line-height: 120%;
		border-radius: 2rem;
		border: rem(1) solid $bg-line;
		background: $bg-dark;
		color: $text-white;
		caret-color: $text-white;
		padding: 1rem 1.5rem;

		&._input {
			padding: 1.25rem 1.5rem 0.75rem;

			&+.form__field-placeholder {
				font-size: rem(12);
				top: rem(-4);
				padding: 0 0.5rem;
				color: $bg-line;
				background: $bg-dark;
				transition: top 0.3s ease, font-size 0.3s ease;
			}
		}

		&:-webkit-autofill,
		&:not(:placeholder-shown) {

			&+.form__field-placeholder {
				font-size: rem(12);
				top: rem(-4);
				padding: 0 0.5rem;
				color: $bg-line;
				background: $bg-dark;

			}
		}

		&::placeholder {
			opacity: 0;
		}

		&._error {
			border-color: $red;

			&+.form__field-placeholder {
				color: $red;
			}
		}

		&:is(textarea) {
			height: 7.5rem;
			resize: none;
		}
	}

	// .form__field-placeholder
	&__field-placeholder {
		position: absolute;
		top: 1.1rem;
		left: 0.5rem;
		padding: 0 1rem;
		font-family: $font-onest;
		font-size: 1rem;
		line-height: 120%;
		display: block;
		transition: top 0.3s ease, font-size 0.3s ease;
		font-size: 1rem;
		pointer-events: none;
	}

	// .form__submit
	&__submit {
		width: 100%;
		margin-top: 2rem;

		&.btn.btn-primary {

			&:hover,
			&:active {
				background: $bg-white;
				color: $text-black;

				&::before {
					color: $red;
				}
			}
		}
	}

	// .form__policy
	&__policy {
		margin-top: 0.5rem;
		color: $text-grey;

		& a {
			text-decoration: underline;
			color: $red;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	gap: 1.5rem;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
	border-radius: 2rem;
	padding: 1rem 2.5rem;
	font-family: $font-onest;
	font-weight: 500;
	line-height: 145%;
	text-transform: uppercase;
	font-size: 0.875rem;

	@media (min-width:$md4) {
		padding: 1.25rem 2.5rem;
		font-size: 1.125rem;

	}

	&.icon-arrows {
		&::before {
			font-size: 1rem;

			@media (min-width:$md4) {
				font-size: 1.375rem;

			}
		}
	}

	&::before {
		order: 1;
		transition: all 0.3s ease;
	}

	&:focus-visible {
		box-shadow: 0 0 rem(1) rem(1) $text-black;
	}

	&.btn-primary {
		background: $red;
		color: $text-white;

		&:hover,
		&:active {
			background: $bg-dark;
			color: $text-white;

			&::before {
				color: $red;
			}
		}

	}

	&.btn-secondary {

		background: $bg-dark;
		color: $text-white;

		&::before {
			color: $red;
		}

		&:hover,
		&:active {
			background: $red;
			color: $text-white;

			&::before {
				color: $text-white;
			}
		}

	}

	&.btn-white {

		background: $bg-white;
		color: $red;


		&:hover,
		&:active {
			background: $bg-dark;
			color: $text-white;

			&::before {
				color: $red;
			}
		}

	}

	&.btn-sm {
		text-transform: none;
		padding: rem(5) rem(8);
		font-size: 0.875rem;
		gap: 0.5rem;

		@media (min-width:$md4) {
			gap: 1rem;
			font-size: 0.875rem;
			padding: 0.75rem 1rem;

		}

		@media (min-width:$md3) {
			font-size: 1rem;

		}
	}


	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.5;
		pointer-events: none;
	}
}